.hero-wrapper {
  display: flex;
  justify-content: center;
}

.hero-container {
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  padding: 50px 0;
}

.hero-left {
  padding: 50px;
  width: 50%;
}

.hero-heading {
  margin: 0;
}

.hero-paragraph {
  margin: 0 0 50px;
}

.hero-explore-store {
  display: flex;
  justify-content: left;
}

.hero-image {
  max-width: 50%;
  width: 100%;
  height: auto;
}