.hero-wrapper {
  display: flex;
  justify-content: center;
}

.hero-container {
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  padding: 50px 0;
}

.hero-left {
  padding: 50px;
}

.hero-heading {
  margin: 0;
  color: var(--primary-color);
  font-size: 88px;
  font-family: "Teko";
  line-height: 1.4em;
  font-weight: 600;
}

.hero-paragraph {
  margin: 0 0 50px;
  font-family: "Barlow";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.8em;
  color: var(--tertiary-color);
}

.hero-explore-store-container {
  display: flex;
  justify-content: left;
}

.hero-explore-store {
  border-color: var(--primary-color);
  border-style: solid;
  border-radius: 0;
  padding: 13px 30px 13px 5px;
  border-width: 2px 2px 2px 0;
  background-color: #fff;
  text-align: center;
  transition: all 0.3s;
  display: inline-block;
  color: var(--primary-color);
  font-size: 13px;
  font-weight: 400;
  line-height: 1em;
  text-transform: uppercase;
  font-family: "Barlow";
  display: flex;
  align-items: center;
}

.hero-explore-store img {
  width: 14px;
  height: auto;
  margin-left: 15px;
  filter: invert(31%) sepia(32%) saturate(335%) hue-rotate(168deg) brightness(90%) contrast(95%);
}

.hero-image {
  max-width: 100%;
  height: auto;
}