.header-wrapper {
  background-color: #ffffff;
  width: 100%;
}

.header-wrapper.sticky {
  position: fixed;
  z-index: 1000;
  top: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.header-wrapper.sticky+.non-header {
  padding-top: 102px;
}

.header-container {
  padding: 0 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-logo-image {
  width: auto;
  height: 58px;
}

.header-right {
  display: flex;
  height: 102px;
}

.header-menu {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0 10px 0 0;
  height: 100%;
}

.header-menu li {
  list-style: none;
  padding: 0 20px;
  cursor: pointer;
}

.header-menu li div {
  height: 100%;
  display: flex;
  align-items: center;
}

.header-menu li:last-child {
  position: relative;
}

.header-menu li a {
  font-size: 13px;
  color: var(--primary-color);
}

.header-menu>li:hover>div>a {
  color: var(--accent-color);
}

.header-menu li:last-child img {
  width: 8px;
  height: auto;
  margin-left: 10px;
}

.header-menu li:last-child:hover img {
  filter: invert(31%) sepia(62%) saturate(4741%) hue-rotate(329deg) brightness(95%) contrast(100%);
}

.header-menu li:last-child:hover .account-options {
  display: block;
  position: absolute;
  top: 100%;
  left: 0px;
  padding: 0;
  width: 240px;
  background: #fff;
  box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.1);
  border: 1px solid #eaeaea;
  z-index: 2;
}

.header-menu .account-options {
  display: none;
}

.header-menu .account-options li {
  padding: 14px 20px;
}

.header-menu .account-options li:hover a {
  color: var(--accent-color);
}

.header-cart {
  display: flex;
  align-items: center;
  color: var(--accent-color);
  font-family: "Barlow";
  font-weight: 600;
  padding: 6px 6px 6px 10px;
}

.header-cart .cart-icon {
  position: relative;
}

.header-cart img {
  width: 26px;
  height: auto;
  margin-left: 8px;
  filter: invert(31%) sepia(62%) saturate(4741%) hue-rotate(329deg) brightness(95%) contrast(100%);
}

.header-cart .items-count {
  position: absolute;
  top: -10px;
  right: -14px;
  background-color: var(--accent-color);
  color: #ffffff;
  font-family: "Barlow";
  font-weight: bold;
  font-size: 11px;
  line-height: 17px;
  letter-spacing: -0.5px;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.3);
  border-radius: 100px;
  min-width: 18px;
  height: 18px;
  padding: 0 4px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.header-right .cart-drawer-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity 0.2s ease-in-out;
  z-index: 1500;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.header-right .cart-drawer-background.open {
  opacity: 1;
}

.header-right .cart-drawer {
  width: 35%;
  height: 100%;
  right: -100%;
  top: 0;
  position: fixed;
  background-color: #fff;
  z-index: 2000;
  transition: right 0.3s ease-in-out;
}

.header-right .cart-drawer.open {
  right: 0;
}

.header-right .cart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 21px;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  border-bottom: 1px solid #dddddd;
  z-index: 3000;
  background-color: #fff;
}

.header-right .cart-header span {
  font-family: "Barlow";
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: var(--primary-color);
}

.header-right .cart-header img {
  width: 18px;
  height: 18px;
  cursor: pointer;
  z-index: 3100;
  position: relative;
}

.header-right .items-added {
  overflow-y: auto;
  padding: 82px 21px 464px;
  margin: 0;
  max-height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2500;
}

.header-right .items-added li {
  min-height: 60px;
  padding: 19px 0;
  display: flex;
  border-bottom: 1px solid #dddddd;
  margin: 0;
}

.header-right .items-added li img {
  width: 68px;
  height: 68px;
  object-fit: cover;
  margin-right: 12px;
}

.header-right .items-added li .item-cart-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header-right .item-cart-info>div {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.header-right .item-cart-info>div:first-child {
  margin-bottom: 5px;
}

.header-right .item-cart-info .item-name {
  font-family: "Barlow";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-color);
}

.header-right .item-cart-info img {
  width: 20px !important;
  height: 20px !important;
  filter: invert(44%) sepia(11%) saturate(463%) hue-rotate(169deg) brightness(96%) contrast(92%);
  cursor: pointer;
  margin: 0 !important;
}

.header-right .item-cart-info>div:last-child {
  align-items: center;
}

.header-right .item-cart-info .quantity-change {
  display: flex;
}

.header-right .quantity-change .minus {
  font-size: 18px;
  color: var(--tertiary-color);
  font-weight: 400;
  border: 1px solid #dddddd;
  border-right: none;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-right .quantity-change input {
  font-size: 16px;
  color: var(--tertiary-color);
  font-weight: 400;
  border: 1px solid #dddddd;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-right .quantity-change .plus {
  font-size: 18px;
  color: var(--tertiary-color);
  font-weight: 400;
  border: 1px solid #dddddd;
  border-left: none;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-right .cart-footer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 3500;
}

.header-right .cart-footer .sub-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 21px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

.header-right .cart-footer .sub-total span:first-child {
  font-family: "Barlow";
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: var(--primary-color);
  padding-right: 8px;
}

.header-right .cart-footer .sub-total span:last-child {
  font-family: "Barlow";
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: var(--primary-color);
}

.header-right .cart-footer .buttons {
  display: flex;
  flex-direction: column;
  padding: 21px;
}

.header-right .cart-footer .button-one {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-right .cart-footer .button-one:first-child {
  margin: 0 10px 5px 0;
}

.header-right .cart-footer .button-one:last-child {
  margin: 5px 10px 0 0;
}