.home-promo-wrapper {
  display: flex;
  justify-content: center;
}

.home-promo-container {
  max-width: 1100px;
  width: 100%;
  padding: 50px 0;
}

.home-promo-part {
  display: flex;
}

.home-promo-kind-one {
  width: 25%;
  min-height: 270px;
  padding: 5% 3.75%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom left;
  display: flex;
  align-items: center;
}

.home-promo-row {
  display: flex;
}

.home-promo-kind-one p {
  margin: 0 0 26px;
}

.home-promo-kind-two {
  width: 25%;
  background-size: cover;
  background-position: center center;
  min-height: 270px;
}

.home-promo-kind-three {
  width: 50%;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  padding: 40px;
  min-height: 270px;
}

.home-promo-content-kind-one {
  margin-left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.home-promo-heading-kind-one {
  margin: 0;
}

.home-promo-button {
  display: flex;
  justify-content: left;
  width: 100%;
}

.home-promo-button .button-one {
  background-color: transparent;
}

.home-promo-kind-four {
  width: 25%;
  min-height: 270px;
  background-size: cover;
}

.home-promo-content-kind-two {
  width: 100%;
  height: 100%;
  background-color: #ffffffcc;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-promo-content-kind-two .home-promo-button {
  margin: 0;
}

.home-promo-heading-kind-two {
  margin: 0;
}

.home-promo-kind-five {
  width: 25%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 270px;
}

.home-promo-action {
  width: 25%;
}

.home-promo-content-kind-three {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-promo-content-kind-three img {
  width: 50px;
  height: auto;
  margin: 10px 0;
  transition-duration: 0.3s;
  transition-property: transform;
}

.home-promo-content-kind-three img:hover {
  transform: scale(1.2);
}

.home-promo-heading-kind-three {
  margin: 0;
}
