.contact-info-wrapper {
    display: flex;
    justify-content: center;
}

.contact-info-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    padding: 200px 0 50px;
}

.contact-info-left {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 70px;
}

.contact-info-left h1 {
    margin: 0;
    padding: 0 0 20px;
}

.contact-info-left p {
    padding: 10px 0 20px;
}

.contact-info-left h6 {
    margin: 0;
    padding: 0 0 20px;
}

.contact-info-left h6:last-child {
    padding: 0;
}

.contact-info-container .map {
    width: 60%;
    min-height: 420px;
    padding: 10px;
    box-shadow: 0 20px 50px -10px rgba(0, 0, 0, .15)
}

.contact-info-container .map iframe {
    width: 100%;
    height: 100%;
    border: none;
}