.footer-wrapper {
    display: flex;
    flex-direction: column;
}

.footer-main {
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    padding: 60px 150px;
    box-sizing: border-box;
    width: 100%;
}

.footer-main ul {
    width: 20%;
    padding: 0 25px;
    margin: 0;
}

.footer-main ul li a {
    font-family: "Barlow";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.8em;
    color: #fff;
}

.footer-main div {
    width: 20%;
}

.footer-main .social-icons {
    width: 40%;
    padding-right: 200px;
}

.footer-main .social-icons ul {
    display: flex;
    margin-left: auto;
}

.footer-main .social-icons a {
    margin-right: 6px;
    padding: 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-main .social-icons img {
    width: 16px;
    height: auto;
    filter: invert(28%) sepia(25%) saturate(481%) hue-rotate(168deg) brightness(95%) contrast(88%);
}

.footer-other-container {
    padding: 25px;
    display: flex;
    justify-content: center;
}

.footer-other {
    max-width: 1200px;
    width: 100%;
    min-height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.footer-other p {
    width: 50%;
    color: var(--quinary-color);
}

.footer-other p:last-child {
    display: flex;
    justify-content: end;
}