:root {
  --primary-color: #415161;
  --secondary-color: #2ecc71;
  --tertiary-color: #67727d;
  --accent-color: #f2295b;
}

* {
  box-sizing: border-box;
  font-family: "Roboto";
}

a {
  text-decoration: none;
}
